<!DOCTYPE html>

<html>


<!-- Mirrored from markup.themewagon.com/healthcare_pro/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Nov 2018 05:22:11 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,500italic,600,500,600italic,700|Roboto+Condensed:400,700|Open+Sans:400,600,700|PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/main.css">

</head>

<body>

    <section id="contact" class="text-center contact-section">
        <div class="contact-wrapper section-wrapper">
            <div class="container">
                <div class="row">
                    <h2 class="contact-headline"><span>Contact US</span></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 contact-article">
                    <h2>Have A Question?</h2>
                    <p class="contact-left-content-p">
                        If you have any Question you can ask. Answer will be provided by admin ASAP.
                    </p>

                </div>
                <div class="col-md-6 contact-form">
                    <h2>Leave A Message</h2>
                    <div id="contactFormResponse">

                    </div>
                    <form id="contactForm" action="http://markup.themewagon.com/healthcare_pro/php/contact_form.php" method="post" enctype="multipart/formdata">
                        <div class="form-group">
                            <input type="text" class="form-control contact-form-control" name="name" id="name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control contact-form-control" name="email" id="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control contact-form-control" type="text" id="message" name="message" placeholder="Type your message here..."></textarea>
                        </div>
                        <button type="submit" name="submit" id="cfsubmit" class="contact-form-btn btn btn-primary" required>Send Message</button>
                    </form>
                </div>

            </div>
            <div class="row">
                <h2 class='text-center contact-details-heading'>Contact Details</h2>
                <div class="col-md-6">
                    <div id="map-canvas" class="contact-wrapper"></div>
                </div>
                <div class="col-md-6 contact-address">
                    <div class="contact-block clearfix">
                        <div class="left-block">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="right-block">
                            <h4 class="contact-block-heading">Office Address</h4>
                            <p class="contact-block-paragrap">Hoffman Parkway, P.o Box 353 Mountain View. United States of America. </p>
                        </div>
                    </div>
                    <div class="contact-block clearfix">
                        <div class="left-block">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="right-block">
                            <h4 class="contact-block-heading">Phone</h4>
                            <p class="contact-block-paragrap">Local: 1-800-123-hello</p>
                            <p class="contact-block-paragrap">Mobile: 1-800-123-hello</p>
                        </div>
                    </div>
                    <div class="contact-block clearfix">
                        <div class="left-block">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="right-block">
                            <h4 class="contact-block-heading">Email Address</h4>
                            <p class="contact-block-paragrap">info@Miracle.com</p>
                            <p class="contact-block-paragrap">example@Miracle.com</p>
                        </div>
                    </div>

                    <ul class="contact left-align-contact">
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Facebook" class=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Twitter" class=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Google +" class=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Instagram" class=""><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Pinterest" class=""><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Connect with Skype" class=""><i class="fa fa-skype"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Instagram" class=""><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="socials-icons socials-icons-square text-center">
                            <a href="#" data-toggle="tooltip" title="Share in Pinterest" class=""><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>





    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/contact.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/script.js"></script>


</body>


</html>
