<!DOCTYPE html>

<html>


<!-- Mirrored from markup.themewagon.com/healthcare_pro/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Nov 2018 05:16:27 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/ProjectRelatedData/img/season-change.html" type="image/x-icon">
    <title>HealthCare</title>


    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/ProjectRelatedData/assets/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,500italic,600,500,600italic,700|Roboto+Condensed:400,700|Open+Sans:400,600,700|PT+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <section class="heading-slider">
        <div class="slider-overlay"></div>
        <div id="owl-demo" class="owl-carousel owl-theme">

            <div class="item slider-1">
                <div class="slider-item-overlay"></div>
                <div class="slider-content">
                    <div class="container">
                        <h1>We're Professional</h1>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="item slider-2">
                <div class="slider-item-overlay"></div>
                <div class="slider-content">
                    <div class="container">
                        <h1>We're Caring</h1>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="item slider-3">
                <div class="slider-item-overlay"></div>
                <div class="slider-content">
                    <div class="container">
                        <h1>We're Responsible</h1>
                        <p>First & Friendly Family Urgent</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="starting-text">
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <h2 class="welcome-title"><span>Welcome To Hospital Management System</h2>
                    <p class="welcome-txt"<span>The objective of the hospital management system is to help hospital administrators to have an electronic
                        system instead of manual system so that the data management will be more easy, secure and fast. </span></p>
                    <button class="welcome-btn">Read More<i class="icon-on-btn fa fa-long-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>


    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h2 class="headline text-center">
                        Why Choose Us
                    </h2>
                    <p class="text-center divider">
                        <img src="~/ProjectRelatedData/assets/img/seperator.png" alt="">
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="~/ProjectRelatedData/assets/img/service1.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Top Qualified Doctors</h4>
                            <p>We are providing top quality doctors with great skills.</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="~/ProjectRelatedData/assets/img/service2.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Online Q & A</h4>
                            <p>Online Questions are also allow here. Their reply will be given by admin ASAP</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="~/ProjectRelatedData/assets/img/service3.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Symptom Check</h4>
                            <p>You can check your symptom by making an appointment with a Doctor.</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="~/ProjectRelatedData/assets/img/service4.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Competitive Pricing</h4>
                            <p>Fee of doctors are affordable for evryone.</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="~/ProjectRelatedData/assets/img/service5.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Medical Counseling</h4>
                            <p>We have medical counsel to discuss all matters every week.</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="hservice">
                        <div class="service-img">
                            <img class="img-responsive center-block" src="~/ProjectRelatedData/assets/img/service6.jpg" alt="">
                        </div>
                        <div class="service-description text-center">
                            <h4 class="service-heading">Caring Staff</h4>
                            <p>We have very caring staff.</p>
                            <a href="#" class="rm-btn btn btn-primary">
                                Read More <i class="icon-on-btn fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/contact.js"></script>
    <script type="text/javascript" src="~/ProjectRelatedData/assets/js/script.js"></script>



</body>
</html>

